@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #2d2d2d;
  color: white;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 255, 255, 0.2), 0 2px 4px -1px rgba(0, 255, 255, 0.06);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: #00cfff;
}

.navbar a:hover {
  color: #00e4ff;
}
